.faq{
  background-image: url('../../assets/img/breather-7169.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  margin-top: 115px;
}

.faq-overlay {
  height: inherit;
  width: 100%;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  background-color: rgba(79, 195, 247, .7);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.faq-title {
  padding: 50px;
  width: 100%;
  font-size: 36px;
  color: black;
  display: flex;
  justify-content: center;

}

.panel-title {
  height: 60px;
  display: flex;
  align-items: center;
}

.panel-content {
  padding:7px;
}

.questions mat-expansion-panel{
  width: 100%;
  /*background-color: rgba(0,0,0,.7);*/
  /*background-color: rgba(79, 195, 247, .7);*/
  background-color: rgba(255, 255, 255, .9);
  color: black;
}

.questions p{
  color: black;
  font-size: 16pt;
  line-height: 1.5;
  margin-top: 3%;
}

.questions mat-panel-title{
  font-size: 18pt;
  color: black;
}

.questions{
  /*margin-top: 12%;*/
  margin-bottom: 5%;
  width: 80%;
}


@media screen and (max-width: 1000px) {
  .questions{
    width: 90%;
  }

  .faq {
    margin-top: 100px;
  }
}

 @media screen and (max-width: 700px) {

  .questions{
    margin: 0;
    width: 100%;
  }

  .faq {
    margin-top: 58px;
  }

}
