<div class="faq">
  <div class="faq-overlay">

    <div class="faq-title wow fadeIn">
      Frequently Asked Questions
    </div>
    <div class="questions">

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          Why should I get a home inspection?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>
          As a buyer, it is important for you to have an inspection done on the home you are considering. Think of this like a “test drive” on a car you are buying. Let us test drive your home, to make sure we are detecting minor issues before they become
          major.
        </p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          How much will my home inspection cost?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>We don’t hide our costs behind a phone call. We list our prices on our website and charge a fair price for a very thorough and professional service.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          When will I get the inspection report?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>Part of what sets us apart is that you’ll receive your report electronically, immediately upon completion of the inspection. Our reports include several pictures and even videos!</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          What will be evaluated during my home inspection?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>We evaluate more than you could probably list, so we will do it for you; Insulation, Ventilation, Foundation, Roof & Flashings, Gutters, Crawl Space, Basement, Siding, Doors & Windows, Floors, Fireplace, Smoke Detectors, Walls, Chimneys, Electrical System, Water Heaters, HVAC System, Plumbing, all interior rooms & much more!</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          How will I evaluate the inspection report?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>We always go through the inspection report with you and point out all the important findings and concerns.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          Is Capstone Home Inspection certified?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>Yes, we are certified through the American Society of Certified Home Inspectors (Inter- NACHI). Although Utah does not require home inspectors to be licensed or certified, we go above and beyond state standards to ensure that you are receiving a
          professional and skilled service.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          What does Inter-NACHI certification mean?
        </mat-panel-title>
      </mat-expansion-panel-header >
      <div class="panel-content">
        <p>Being certified through Inter-NACHI means that we adhere to a strict standards of practice and code of ethics. Also, we continually provide superior home inspection services through Inter-NACHI mandated continuing education requirements.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          How long will the inspection take?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>For most inspections, we will have two inspectors present to provide a quick yet thorough inspection. With two inspectors, you can plan on about 2 hours from start to finish. Of course if there is something that requires a bit more time, we want
          to take the time to provide you an excellent review of the home. We do our best to provide this quick service every single time. However, from time to time we will only have one inspector available. Your inspection timeline will be clear when
          scheduling the appointment.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          Can I attend the home inspection?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>Absolutely &amp; Encouraged! We want you to be there if possible. Our job is to explain everything to you, so that you feel comfortable about any findings in the report.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          What happens if problems are found during the inspection?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>Don’t worry. We are there to help. We will explain any concerning issues with you. Sometimes what seems like a big problem to you, may be an easy fix and not a huge issue at all. Again….we are there to help you understand everything.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          What is radon?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>Radon is a cancer-causing radioactive gas that is formed from the natural breakdown of uranium. You cannot see, smell or taste radon, but it may be a problem in your home. The Surgeon General has warned that radon is the second leading cause of
          lung cancer in the United States today. If you smoke and your home has high radon levels, you’re at high risk for developing lung cancer. Some scientific studies of radon exposure indicate that children may be more sensitive to radon.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          Should I get a Radon test?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>Testing is the only way to know your home’s radon levels. There are no immediate symptoms that will alert you to the presence of radon. It typically takes years of exposure before any problems surface. The US EPA, Surgeon General, American Lung
          Association, American Medical Association, and National Safety Council recommend testing your home for radon because testing is the only way to know your home’s radon levels.
        </p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title class='panel-title wow fadeIn'>
          How far in advance should I schedule the inspection?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p>The purchasing process can happen very quickly. We can be available promptly to get your inspection done. Call us and we promise we will do our best to accommodate your schedule.
        </p>
      </div>
    </mat-expansion-panel>

  </div>
  </div>
</div>
