<md-toolbar class='my-footer'>
  <div class='circle-logo img1'></div>
  <div class='circle-logo img5'></div>
  <a href="tel:1-385-220-9495" class="call-now">
    <div>Call Now</div>
    <span class='ion-ios-telephone-outline number-icon'></span>
    <div>(385) 220-9495</div>
  </a>

</md-toolbar>

<footer class="footer-contact">
  <div class="footer-left wow fadeInLeft">
    <h3>Capstone Home Inspection LLC</h3>
    <p class="footer-links">
      <a routerLink='/home'>Home</a> ·
      <a routerLink='/inspectors'>Your Inspectors</a> ·
        <a routerLink='/prices'>Pricing & Services</a> ·
      <a routerLink='/service-area'>Service Area</a> ·
      <a routerLink='/faq'>FAQs</a>
    </p>

  </div>
  <div class="footer-right wow fadeInRight">
    <p>Contact Us</p>
    <form>
      <input [(ngModel)]="newEmail.email" type="text" name="email" placeholder="Email" />
      <textarea [(ngModel)]="newEmail.message" name="message" placeholder="Message"></textarea>
      <button (click)="addUser()">Send</button>
    </form>
  </div>
  <div class="logo-position"><p class="footer-company-name">Copyright &copy; 2017 Capstone Home Inspection LLC | Website designed & created by &nbsp;</p><img class="plogo" src="assets/img/penguin0.1.svg" alt="">
  </div>
</footer>
