<div class="inspector-wrapper">

  <div class="team-title"><h1 class="wow fadeIn">The Capstone Team</h1></div>

  <div class="team-container">

    <div class="team-pic"></div>

    <div class="about">
      <div class="wow fadeInRight">
        <br>
        <h5  >Our Promise to you:</h5>
        <br>
        <p>
            With the flexibility of our two person team, we are proud to offer you an
          efficient and timely service. Providing you honest and high-quality home
          inspections is the heart of our business. We realize that we are inspecting
          an investment in your future. We want the biggest transaction in your life to
          be a well informed and sound decision. When you ask us to perform an
          inspection for you, we promise to provide you an absolutely superior
          assessment. Capstone Home Inspection is by your side and at your
          service!
        </p>
      </div>
    </div>
  </div>

  <div class="prof-container1">
    <div class="bio1">
      <div class="wow fadeInLeft" data-wow-offset="10">
        <br>
        <h5>Scott Kilgore (InterNACHI #17100925)</h5>
        <!-- <br> -->
        <p>
          Scott is a graduate of Athens State University in Biology. Scott spent 10 years as a
          pharmaceutical chemist in the bio-tech industry. In 2009, Scott founded Capstone Home
          Inspection in Huntsville, Alabama. You are assured that Scott brings an experienced, detailed
          and honest work ethic to every single home inspection.
        </p>
      </div>
    </div>
    <div class="prof1">
    </div>
  </div>

  <div class="prof-container2">

    <div class="prof2"></div>
    <div class="bio2">
      <div class="wow fadeInRight" data-wow-offset="10">
      <br>
      <h5>Jason Fass (InterNACHI #17100930)</h5>
      <!-- <br> -->
        <p>
          Jason is graduate of Embry Riddle Aeronautical University in Professional Aeronautics with a
          minor in safety. Jason is proud to have served his country for 20 years as an Air Force Air
          Traffic Controller. Jason brings the same needed dedication and detail to each Capstone Home
          Inspection.
        </p>
      </div>
    </div>

  </div>

</div>
