.inspector-wrapper {
  display: flex;
  margin-top: 115px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  background: url('../../assets/img/inspectors-bgSmall.jpg') fixed no-repeat center;
  background-size: cover;
  font-size: 20px;
}

.inspector-wrapper h5 {
  font-size: 36px;
  width: 100%;
  margin-bottom: 15px;
}

.team-container {
  background:rgba(255, 255, 255, 0.6);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%
}

.team-title {
  background:rgba(255, 255, 255, 0.6);
  padding: 75px 0 20px 0;
  font-size: 40px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.team-pic {
  background: url('../../assets/img/teamSmall.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  width: 28%;
  margin-left: 7%;
}

.about {
  background: rgba(79, 195, 247, .7);
  width: 50%;
  box-shadow: 1px 1px 3px #888888;
  display: flex;
  align-items: center;
  line-height: 1.5;
  padding: 50px;
  flex-wrap: wrap;
}

.prof-container1 {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%
}

.prof-container2 {
  background: rgba(79, 195, 247, .7);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%
}

.prof1 {
  background: url('../../assets/img/scottSm.jpg') no-repeat center;
  background-size: cover;
  width: 20%;
  height: 100%;
  margin-right: 7%;
}

.prof2 {
  background: url('../../assets/img/jaySm.jpg') no-repeat;
  background-size: cover;
  width: 20%;
  height: 100%;
  margin-left: 7%;
}

.bio1 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.5;
  padding: 50px;
}

.bio2 {
  background: rgba(255,255,255, .7);
  width: 50%;
  box-shadow: 1px 1px 3px #888888;
  display: flex;
  align-items: center;
  line-height: 1.5;
  padding: 50px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .inspector-wrapper {
    margin-top: 80px;
  }

  .team-pic, .about, .prof1, .bio1, .prof2, .bio2 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }

  .team-container, .prof-container1, .prof-container2  {
    margin: 0;
    padding: 0;
  }

  .bio1, .about, .bio2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .prof-container1 {
    background: rgba(255,255,255, .8)
  }
}

@media screen and (max-width: 700px) {
  .inspector-wrapper {
    margin-top: 40px;
    font-size: 14px;
  }

  .inspector-wrapper h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .team-pic, .about, .prof1, .bio1, .prof2, .bio2 {
    width: 100%;
    height: 50%;
  }

  .team-container, .prof-container1, .prof-container2  {
    flex-wrap: wrap;
    height: 90vh;
    padding-bottom: 10%;
  }

  .bio1, .about, .bio2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 30px;
  }

  .team-pic, .prof1, .prof2 {
    margin: 5% 15%
  }

  .bio1 {
    order: 2;
  }

  .prof1 {
    order: 1;
  }

  .team-title {
    font-size: 40px
  }

}

@media screen and (max-width: 400px) {
  .team-container {
    height: 710px;
  }
}
