
<div class='top-white' ></div>
<md-toolbar class='my-toolbar-bottom' >
  <div class='my-toolbar-serts' >
    <div class='main-logo'  >
    </div>
    <div class='toolbar-name' > Capstone Home Inspection </div>
    <div class='circle-logo img1'></div>
    <div style="margin-left: 150px;" class='circle-logo img5'></div>
  </div>
  <div class='div-links' >
    <div class='my-toolbar-links' > <a routerLink='/home' >Home</a> </div>
    <div class='my-toolbar-links' > <a routerLink='/inspectors'>Your Inspectors</a> </div>
    <div class='my-toolbar-links' > <a routerLink='/prices' >Pricing & Services</a> </div>
    <div class='my-toolbar-links' > <a routerLink='/service-area' >Service Area</a> </div>
    <div class='my-toolbar-links' > <a routerLink='/faq'>FAQs</a> </div>
    <div class='number-nav' >
        <span style='font-size:30px; margin-right:5px; padding-left: 5px;' class='ion-ios-telephone-outline' ></span>
         (385) 220-9495
      </div>
  </div>

</md-toolbar>
<div class='bottom-white' ></div>
