
<div class='top-white' ></div>
<md-toolbar class='my-toolbar-bottom' >
  <div class='my-toolbar-serts' >
    <div class='main-logo'  >
    </div>
    <div class='toolbar-name' > Capstone </div>
    <div class='circle-logo img1'></div>
    <div style="margin-left: 120px;" class='circle-logo img5'></div>
  </div>
  <div class='div-links' > 
    <div class='my-toolbar-links' > <a routerLink='/home' >Home</a> </div>
    <div class='my-toolbar-links' > <a  >Service Area</a> </div>
    <div class='my-toolbar-links' > <a routerLink='/prices' >Pricing</a> </div>
    <div class='my-toolbar-links' > <a >Your Incpectors</a> </div>
    <div class='my-toolbar-links' > <a >FAQ</a> </div>
    <div class='number-nav' >
        <span style='font-size:20px; margin-right:5px;' class='ion-ios-telephone-outline' ></span>
         (845) 606-8273  
      </div>
  </div>
   
</md-toolbar>
<div class='bottom-white' ></div>
