<md-toolbar class='my-toolbar-top' >
  <div class='circle-logo'></div>
  <div class='circle-logo'></div>
  <div class='circle-logo'></div>
  <div class='circle-logo'></div>
</md-toolbar>  
<md-toolbar class='my-toolbar-bottom' >
  <div class='div-links' >
    <div class='my-toolbar-links' > <a >Home</a> </div>
    <div class='my-toolbar-links' > <a >Service Area</a> </div>
    <div class='my-toolbar-links' > <a >Pricing</a> </div>
    <div class='my-toolbar-links' > <a >Your Incpectors</a> </div>
    <div class='my-toolbar-links' > <a >FAQ</a> </div>
  </div>
</md-toolbar>
