.my-map {
    margin-top: 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ngui-map {
    display: block;
    height: 600px;
    width: 90%;
    margin-bottom: 25px;
}

.my-map-header{
    display: flex;
    width: 100%;
    margin: 35px 0 25px 0;
    font-size: 36px;
    justify-content: center;
}

@media screen and (max-width: 1000px) {

    .my-map{
        margin-top: 80px;
    }

 }
@media screen and (max-width: 700px) {

    .my-map{
        margin-top: 60px;
    }

    ngui-map {
        display: block;
        height: 525px;
        width: 100%;
        margin-bottom: 0;
    }

    .my-map-header {
      font-size: 24px;
      margin: 16px 0;
    }

 }
