/deep/ .mat-tooltip{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}
.hero{
  background-image: url('../../assets/img/prices-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin-top: 8%;

}

.overlay{
  width: inherit;
  height: auto;
  background: rgba(255, 255, 255,.8);
  padding-bottom: 55px;
  padding-top: 50px;
}

.header{
  color: black;
  font-size: 36px;
  text-align: center;
  padding-top: 15px;
}

.pricing-main{
  display: flex;
  justify-content: space-around;
}

.pricing-info{
  margin-top: 5%;
  font-size: 20px;
  text-align: center;
  width: 30%;
  height: auto;
  color: black;
}
.pricing-info h1 {
  font-size: 30px;
}

.pricing-info li{
  list-style: none;
}

.certs-contain{
  width: 100%;
  height: 290px;
  background: #f9f9f9;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}

.certs-header{
  width: inherit;
  height: 50px;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
}

.certs{
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f9f9f9;
}

.circle-logo {
  width: 120px;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*margin-right: 160px;*/
  color: rgba(1, 188, 198, 1);
}

.img3{
    background-image: url('../../assets/img/Electrical-logo.png');
}
.img4{
    background-image: url('../../assets/img/RoofInspector.png');
}

.img7{
  background-image: url('../../assets/img/plumbing-inspector-logo.png');
}

.img6{
    background-image: url('../../assets/img/InterNACHI-Certified-Structure-Foundation-Inspector-PNG-a.png');
}

.additional{
  width: 100%;
  height: auto;
  background-image: url('../../assets/img/prices-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.add-overlay{
  width: inherit;
  height: inherit;
  background: rgba(79, 195, 247,.8);
}

.add-overlay h1{
  font-size: 45px;
  padding-top: 50px;
  text-align: center;
  color: white;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);

}

.info-container{
  display: flex;
  justify-content: center;
}

.info{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 20px;
  text-align: center;
  color: white;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.info li {
  list-style: none;
}

.info a {
  color: white;
  text-decoration: none;
}
.report{
  margin-right: 10%;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px) {

  .report{
    margin-right: 0;
  }
  .circle-logo {
    width: 90px;
  }
  .pricing-main{
    flex-direction: column;
    align-items: center;
  }
  .header{
    font-size: 35px;
    padding-top: 0;
  }
  .pricing-info{
    width: 90%;
    font-size: 18px;
  }
  .pricing-info h1 {
    font-size: 25px;
  }
  .certs-header{
    font-size: 35px;
  }
  .add-overlay h1{
    font-size: 35px;
  }
  .info{
    width: 80%;
    font-size: 18px;
    flex-direction: column;

  }
}

@media screen and (max-width: 450px) {
  .circle-logo {
    width: 70px;
  }


}
