.hero{
  background-image: url('../../assets/img/naomi-hebert-188443.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 86vh;
  margin-top: 8%;
}

.overlay{
  width: inherit;
  height: inherit;
  background: rgba(79, 195, 247,.7);
}

.header{
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.pricing-main{
  display: flex;
  justify-content: space-around;
}

.pricing-info{
  margin-top: 3%;
  font-size: 15pt;
  text-align: center;
  width: 30%;
  height: 500px;
  color: white;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}
.pricing-info h1 {
  font-size: 20pt;
}

.pricing-info li{
  list-style: none;
}

.certs-contain{
  width: 100%;
  height: 290px;
  background: #f9f9f9;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}

.certs-header{
  width: inherit;
  height: 50px;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
}

.certs{
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f9f9f9;
}

.circle-logo {
  width: 120px;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*margin-right: 160px;*/
  color: rgba(1, 188, 198, 1);
}

.img3{
    background-image: url('../../assets/img/Electrical-logo.png');
}
.img4{
    background-image: url('../../assets/img/RoofInspector.png');
}

.img7{
  background-image: url('../../assets/img/plumbing-inspector-logo.png');
}

.img6{
    background-image: url('../../assets/img/InterNACHI-Certified-Structure-Foundation-Inspector-PNG-a.png');
}

.additional{
  width: 100%;
  height: 700px;
  background-image: url('../../assets/img/naomi-hebert-188443.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.info{
  width: 70%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
