<div class="hero">
  <div class="overlay">
    <h1 class="header wow fadeIn">Pricing & Services</h1>
    <br>
    <div class="pricing-main">
      <div class="pricing-info wow fadeInLeft">
        <ul>
          <li>Up to 2000 square feet: $280</li><br>
          <li>Up to 2500 square feet: $300</li><br>
          <li>Up to 3000 square feet: $320</li><br>
          <li>Up to 3500 square feet: $340</li><br>
          <li>Up to 4000 square feet: $360</li><br>
          <li>Up to 4500 square feet: $380</li><br>
          <li>Up to 5000 square feet: $400</li><br>
          <li>Up to 5500 square feet: $440</li><br>
          <li>+ $40 for each additional 500 sq. ft.</li><br>
        </ul>
        <h1 style="font-style: italic;">$125 - We offer a 1-Hour “Walk &amp; Talk” consultation. <a matTooltip="We will walk with you, while we
          talk about the structural, mechanical &amp; electrical state of the property. This is ideal for
          the “need to know NOW” inspection evaluation. This consultation is verbal only and
          does not include a written assessment. We encourage you to take pictures and notes
          during this walk-through.">(see more)</a></h1>
      </div>

      <div class="pricing-info wow fadeInRight">
        <ul>
          <li>Age of home 25-50 years: + $45</li><br>
          <li>Age of home 50-75 years: + $90</li><br>
          <li>Age of home 75+ years: Please call, additional details required</li><br>
          <li>Saturday &amp; Sunday inspections are available</li><br>
	  <li>Methamphetamine (2-4 swabs): $140</li><br>
	  <li>Radon (1 test location): $140</li><br>
	  <li>Mold (1 tape sample): $140</li><br>
	  <li>Mold (1 air sample): $240 (additional samples $70 each)</li><br>
        </ul>
        <h1 style="font-style: italic;">Accompanying the inspector during your inspection is encouraged!!</h1>
      </div>
    </div>
  </div>

</div>

<div class="additional">
  <div class="add-overlay">
    <h1>More Information</h1>
    <div class="info-container">
      <div class="info">
        <ul class="wow fadeInLeft">
          <li>We accept a wide range of payments (Visa, MC, American Express, Paypal)</li><br>
          <li>Veteran owned! We offer a $40 military discount</li><br>
          <li>Available most weekends if scheduled 1 week in advance</li><br>
          <li>We take calls until 10pm for scheduling and any questions</li>
        </ul>
        <br>
        <ul class="wow fadeInRight report">
          <li>
            <a href="assets/img/Sample_Report2.pdf">
              <span class="ion-document-text" style="font-size:71pt"></span>
            </a>
          </li><br>
          <li>
            <a>
              Click here to see a sample report!
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class='certs-contain'>
  <div class="certs-header">
    <h1>Our Certifications:</h1>
  </div>
  <div class="certs">
    <div class='circle-logo img3'></div>
    <div class='circle-logo img4'></div>
    <div class='circle-logo img6'></div>
    <div class='circle-logo img7'></div>
  </div>
</div>
 