<div class="hero">
  <div class="pricing-info">
    <h1>Our Prices</h1><br>
    <ul>
      <li>Up to 2000 square feet = $290</li><br>
      <li>Up to 2500 square feet = $310</li><br>
      <li>Up to 3000 square feet = $380</li><br>
      <li>Up to 3500 square feet = $420</li><br>
      <li>Up to 4000 square feet = $460</li><br>
      <li>Up to 4500 square feet = $500</li><br>
      <li>Up to 5000 square feet = $540</li><br>
      <li>Up to 5500 square feet = $580</li><br>
      <li>Up to 6000 square feet = $620</li><br>
    </ul>
    <h1>$50 DISCOUNT for new homes that are unoccupied
$25 discount for pre-listing inspections</h1>
  </div>

  <div class="pricing-info">
    <h1>Additional Fees</h1><br>
    <ul>
      <li>Age of home 25-50 years = $45</li><br>
      <li>Age of home 50-75 years = $90</li><br>
      <li>Age of home 75+ years  = please call, additional details required</li><br>
      <li>Weekend inspections = no additional fee with 1 week advance notice</li><br>
      <li>Weekend inspection without 1 week notice = $50</li><br>
      <li>Follow-up inspection after repairs = 70% of original inspection fee</li><br>
    </ul>
    <h1>Accompanying the inspector during the inspection = Encouraged and Free!!</h1>
  </div>
</div>

<div class="additional">
  <div class="pricing-info">
    <h1>More Information</h1><br>
    <ul>
      <li>Accept a wide range of payments (Visa, MC, American Express, Paypal)</li><br>
      <li>Veteran owned! We offer an a $25 military discount</li><br>
      <li>Available most weekends - please schedule 1 week in advance</li><br>
      <li>We take calls until 10pm for scheduling and any questions</li><br>
      <li>Age of home 50-75 years = $90</li><br>
      <li>Age of home 75+ years  = please call, additional details are required</li><br>
      <li>Follow-up inspection after repairs = 70% of original inspection fee</li><br>
      <li>We offer radon testing (starting at $75)</li>
    </ul>
  </div>
</div>
