<div class='home-top-pic'>
  <div class="overlay">
    <img src="assets/img/homepic.png" class="cutout wow fadeInLeft" data-wow-offset="-10" alt="">
    <div class="motto-contain wow fadeInRight">
      <div class="heading">We are Capstone</div>
      <div class="motto">"Dependable from the foundation up"</div>
    </div>
  </div>
</div>

<div class='home-box-one'>
  <div class="home-box-one-overlay">
    <div class='home-box-one-title'>Why choose us?</div>
    <div class="home-box-one-main">

        <ul class="wow fadeInLeft">
          <li>We are fully certified and insured</li> <br>
          <li>Quick scheduling (we can do weekend/evening inspections)</li> <br>
          <li>With our two-person team, we offer you an efficient and timely service</li> <br>
          <li>Your report will be available immediately after the inspection</li> <br>
          <li>No more waiting 2-3 days for the home inspection report</li> <br>
          <li>Locally and owned and operated, providing a personalized service</li> <br>
          <li>We are full-time dedicated home inspectors</li>
        </ul>
<br>
        <ul class="wow fadeInRight">
          <li>Pictures &amp; Video are integrated into your report</li> <br>
          <li>We carry referral insurance (This is important to Realtors)</li> <br>
          <li>Veteran owned! We offer an automatic $25 military discount (active or retired)</li> <br>
          <li>Our reports include the positive items as well as those items needing attention</li> <br>
          <li>Certified by the International Association of Certified Home Inspectors®</li> <br>
          <li>We are mess-free inspectors! We use shoe covers before entering your home</li> <br>
          <li>We do not rush our inspections. We allow plenty of time to do a thorough job</li>
        </ul>

    </div>

    <div class="catch"> We pride ourselves on <span>IMPARTIAL</span>, <span>HONEST</span>, and <span>HIGH QUALITY</span> Home Inspection services </div>


  </div>

</div>
