<div class='home-top-pic'>
  <div class="overlay">
    <img src="assets/img/homepic.png" class="cutout wow fadeInLeft" data-wow-offset="-10" alt="">
    <div class="motto-contain wow fadeInRight">
      <div class="heading">We are Capstone</div>
      <div class="motto">"Dependable from the foundation up"</div>
    </div>
  </div>
</div>

<div class='home-box-one'>
  <div class="home-box-one-overlay">
    <div class='home-box-one-title'>Why choose us?</div>
    <div class="home-box-one-main">

        <ul class="wow fadeInLeft">
          <li>We are fully insured and certified with <a style="color: white;" href="https://www.nachi.org/code_of_ethics.htm" target="_blank">InterNACHI</a></li> <br>
          <li>Quick scheduling (we can do weekend/evening inspections)</li> <br>
          <li>With our two-person team, we offer you an efficient and timely service</li> <br>
          <li>Your report will be available immediately after the inspection</li> <br>
          <li>We have SUPRA eKEY access…convenient for Realtors</li> <br>
          <li>Locally owned and operated, providing a personalized service</li> <br>
          <li>Take a look at our great reviews on <a class="reviews" href="https://www.google.com/search?client=safari&ei=anmYWrW1J5S6jwO-i7KIAg&q=Capstone+Home+Inspection+Utah&oq=Capstone+Home+Inspection+Utah&gs_l=psy-ab.3..35i39k1j38.3155.6389.0.6678.19.16.0.0.0.0.202.1778.5j7j1.13.0....0...1.1.64.psy-ab..10.9.1023...0j0i22i30k1.0.NtrngPbVIng#lrd=0x8752ff33a23c36b9:0x3c9bd468fb161c02,1,,," target="_blank">
            <u>Google</u></a> and <a class='reviews' href="https://www.facebook.com/Capstone-Home-Inspection-LLC-379419929165690/" target="_blank"><u>Facebook</u></a></li>
        </ul>
<br>
        <ul class="wow fadeInRight">
          <li>Pictures/Videos are integrated into your report</li> <br>
          <li>We carry referral insurance (This is important to Realtors)</li> <br>
          <li>Veteran owned! We offer an automatic $25 military discount (active or retired)</li> <br>
          <li>Our reports include the positive items as well as those items needing attention</li> <br>
          <li>Certified by the International Association of Certified Home Inspectors®</li> <br>
          <li>We are mess-free inspectors! We use shoe covers before entering your home</li> <br>
          <li>We do not rush our inspections. We allow plenty of time to do a thorough job</li>
        </ul>

    </div>

    <div class="catch"> We pride ourselves on <span>IMPARTIAL</span>, <span>HONEST</span>, and <span>HIGH QUALITY</span> Home Inspection services </div>


  </div>

</div>
