<div class='home-top-pic'>
  <h1>You now have two options for scheduling Home Inspections. Thanks for your continued support!</h1>
  <div class="separate-contact">
    <h1>Scott Kilgore owns and operates Bee Safe Home Inspection, LLC</h1>
    <li>Phone - <a href="tel:phone"><u>phone</u></a></li>
    <li>Email - <a href="mailto:email">email</a></li>
    <li>Website - <a href="https://site" target="_blank">site</a></li>
  </div>
  <div class="separate-contact">
    <h1>Jason Fass owns and operates Valor Home Inspection</h1>
    <li>Phone - <a href="tel:phone"><u>phone</u></a></li>
    <li>Email - <a href="mailto:email">email</a></li>
    <li>Website - <a href="https://site" target="_blank">site</a></li>
  </div>
</div>
